link(rel="stylesheet", href="/public/css/bar.css")
.menu-bar 
  a(href="/admin", class="logo")
    img(class="icon", src="/public/images/semioflix-transparent.png", alt="Semioflix icon") 
  .search-serie 
    i.fas.fa-search
    input(type="text", placeholder="Encontre algo para assistir")
    .search-result#search-result

  ul.menu-links 
    li.link
      a(href="/admin") 
        i.fas.fa-film
        |  Catálogo
    li.link   
      a(href="/admin/about") 
        i.fas.fa-info-circle
        |  Sobre 
    li.link
      a(href="/admin/users") 
        i.fas.fa-users
        |  Usuários
    li.link
      a(href="/auth/signout") 
        i.fas.fa-sign-out-alt
        |  Sair

  script. 
    const searchSerie = document.querySelector('.search-serie');
    const searchResult = document.querySelector('.search-result');  
    const searchInput = document.querySelector('.search-serie input');
    
    searchSerie.addEventListener('click', () => {
      searchResult.style.display = 'block';
    });

    searchInput.addEventListener('blur', () => {
      setTimeout(() => {
        searchResult.style.display = 'none';
      }, 200);
    });    

    searchInput.addEventListener('keyup', () => {
      const searchValue = searchInput.value.toLowerCase();
      const result = document.querySelector('#search-result');

      result.innerHTML = '';

      if(searchValue.length > 3){
        fetch('/search', { 
          method: 'POST', 
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ searchValue })
        })
          .then(res => res.json())
          .then(data => {
            result.innerHTML = '';
            
            data.forEach(serie => {
              let div = document.createElement('div');
              div.classList.add('result');
              
              div.innerHTML = `
                <a href="/admin/serie/${serie.id}">
                  <img class="serie-cover" src="${serie.cover}" alt="${serie.title}">
                  <div>
                    <h3 class="serie-title">${serie.title}</h3>
                    <p class="serie-description">${serie.description}</p>
                    <span class="serie-yaer">${new Date(serie.createdAt).getFullYear()}</span>
                  </div>
                </a>
              `;

              result.appendChild(div);
            })
          });
      }
    })      
  
    