extends ../layout
block content
  style. 
    .content {
      padding: 80px 0 0 0;
    }

    .serie-cover {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    .serie-infos {
      padding: 0 20px;
    }

    .serie-title {
      font-size: 40px;
      font-weight: 700;
      padding: 20px 0 0 0;
    }

    .serie-createdBy {
      color: #999;
      padding-bottom: 20px;
    }

    .serie-description {
      font-size: 20px;
      padding-bottom: 20px;
    }

    .serie-metrics {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 0;
    }

    .serie-metric {
      margin-right: 20px;
    }

    .serie-metric i {
      margin-right: 5px;
    }

    .serie-metric:last-child {
      margin-right: 0;
    }

    .serie-metric:hover {
      color: #e50914;
    }

    .serie-metric:hover i {
      color: #e50914;
    }

    .serie-metric:hover span {
      color: #e50914;
    }

    .serie-metric:hover span i {
      color: #e50914;
    }

    .serie-metric span {
      font-size: 20px;
    }

    .serie-cast {
      font-size: 18px;
      padding: 20px 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .serie-btn-play {
      width: 100%;
      background-color: #e50914;
      color: white;
      border: none;
      outline: none;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
    }

    .serie-seasons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 0;
    }

    .btn-serie-season {
      background-color: transparent;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      font-size: 20px;
      color: #999;
      border: none;
      border-bottom: 2px solid transparent;
    }

    .btn-serie-season:hover {
      color: #e50914;
    }

    .btn-serie-season.active {
      color: #e50914;
      border-bottom: 2px solid #e50914;
    }

    .serie-episodes {
      padding: 20px 0;
      display: none;
    }

    .serie-episodes.active {
      display: block;
    }

    .serie-episode {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px 0;
      border-bottom: 1px solid #999;
    }

    .serie-episode:last-child {
      border-bottom: none;
    }

    .serie-episode-cover {
      width: 400px;
      height: 200px;
      object-fit: cover;
    }

    .serie-episode-infos {
      padding: 0 20px;
    }

    .serie-episode-title {
      font-size: 20px;
      margin-bottom: 8px;
    }

    .serie-episode-title:hover {
      color: #e50914;
    }

    .serie-episode-title:hover {
      color: #e50914;
    }

    .serie-episode-description {
      font-size: 16px;
      color: #999;
      margin-bottom: 18px;
    }
      
  include ../bar.pug


  .content 
    //textarea(name="", cols="30", rows="10", style="width: 100%; height: fit-content; color: white; background: black;")=JSON.stringify(serie, null, 2)
    img(class="serie-cover", src="/public/images/semioflix.png", alt=title)
    .serie-infos
      h1.serie-title #{serie.title}
      small.serie-createdBy #{new Date(serie.createdAt).toLocaleDateString("pt-BR", { year: 'numeric', month: 'long', day: 'numeric' })} 
      p.serie-description #{serie.description}
      .serie-metrics  
        span.serie-metric <i class="fas fa-star"></i> 4.5
        span.serie-metric <i class="fas fa-heart"></i> #{serie.likes}
        span.serie-metric <i class="fas fa-eye"></i> #{serie.views}
      p.serie-cast 
        strong Estrelando: #{serie.cast}
      button.serie-btn-play <i class="fas fa-play"></i> Assistir 

      h2.serie-title Temporadas & Episódios

      div.serie-seasons 
        each season, index in serie.Seasons
          button(class="btn-serie-season " + (index == 0 ? "active" : "") , data-btn-season="season"+ index) Temporada #{index + 1}: #{season.title}

      each season, index in serie.Seasons
        div.serie-episodes(data-season="season"+ index, class=(index == 0 ? "active" : ""))
          each episode, index2 in season.episodes
            div.serie-episode
              a(href="/watch/" + season.id + "/" + episode.id)
                img(class="serie-episode-cover", src="/public/images/semioflix.png", alt=episode.title)
              div.serie-episode-infos
                h3.serie-episode-title Episódio 1: #{episode.title} 
                p.serie-episode-description #{episode.description}
                a.serie-btn-play(href="/watch/" + season.id + "/" + episode.id) <i class="fas fa-play"></i> Assistir 

  script. 
    const btnSeasons = document.querySelectorAll("[data-btn-season]");
    const episodes = document.querySelectorAll(".serie-episodes");

    btnSeasons.forEach((btn) => {
      btn.addEventListener("click", () => {
        const season = btn.getAttribute("data-btn-season");
        episodes.forEach((episode) => {
          episode.classList.remove("active");
        });
        document.querySelector(`[data-season="${season}"]`).classList.add("active");
        btnSeasons.forEach((btn) => {
          btn.classList.remove("active");
        });
        btn.classList.add("active");
      });
    });


